div{
    float: left;
  }

.divList{
    width: 200px;
    overflow-y: auto;
}

.divLists{
    height: 500px;
}

.cardLists{
    height: 500px;
}

.card{

    width: 918px;
    height: 598px;
}

.title{
    width: 100%;
}

.profile{
    float: right;
}

.loginname{
    padding: 15px;
}

.divMenu {
    padding-top: 10px;
}

span {
    color: chocolate;
}