.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
    flex: 1 1 auto;
  }

.card {
    width: 400px;
    margin: 10% auto;
    top: 100px;
  }

.mat-card-title{
    font-size: 16px;
  }

#divButtons{
  height: 40px;
}

#btnLogin{
  float: left;
}

#btnSignup{
  float: right;
}

.wrapper{
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  position: absolute;

}
